/* 공통 */
button {
    background-color: transparent;
    border: none;
}

p {
    margin: 0;
}
/* 이미지 캡처를 안 하는 게 해결책임 */

/* flex가 해주는 거 1. 탑정렬 2. 아이템 정렬 */
/* 디렉션, justify-content, align-items */
/* grow, shrink, basis */
/* display grid 공부하면 좋음 */

/* flex에는 max-width 개념이 없어서 따로 줘야 함 단 필요 시에 */

/* <header> */
header {
    display: flex;
    position: fixed;
    width: 96%;
    height: 56px;
    top: 0px;
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 20px;
    justify-content: space-between;
}

/* start */
#start {
    display: flex;
    align-items: center;
}
.h-icon {
    width: 30px;
    margin-right: 10px;
}
#ytbicon {
    width: 140px;
    height: 27px;
}

/* center */
#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 800px;
}
#search {
    /* display: flex; */
    /* flex 남발 */
    /* max-width도 적용하면 좋음 모니터 해상도 차이가 있기 때문에 */
    height: 38px;
    width: 50%;
    border-radius: 40px 0 0 40px;
}
#searchicon {
    background-color: #dbdcdb;
    border-radius: 0 40px 40px 0;
    height: 46px;
}
#micicon {
    width: 45px;
}

/* end */
#end {
    display: flex;
    align-items: center;
    /* padding-right: 50px; */
}
#pf-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* <nav> */
nav {
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    /* 질문 (createElement 하기 전에는 고정값을 주지 않아도 의도한 위치에 배치됐는데 후에는 안 그럼) */
    /* position fixed 를 줬을 때 top, bottom 위치 픽셀을 줘야 함 어디에 배치할지 정해줘야 함 원래 했던 코드가 잘못됐던 것 */
    top: 0;
    left: 0;
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-left: 8px;
    margin-top: 50px;
    align-items: center;
}
#new_nav_component {
    padding-top: 16px;
    z-index: 1;
}
.originBtn {
    display: flex;
    flex-direction: column;
    width: 68px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    font-size: 13px;
}
.newBtn {
    display: flex;
    width: 160px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    align-items: center;
    font-size: 13px;
}
.n-icon {
    width: 25px;
}

/* <main> */
main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-left: 75px;
}

/* background image 를 사용할 때 div 고정 크기일 때 비율 맞추면서 이미지를 깨지지 않게 하기 위해서 다만 좀 잘리긴 함 */
/* <section> */
section {
    /* display: flex; */
    /* flex-direction: column; */

    /* max-width를 설정하면 더 좋을 것임 */

    /* 부모한테 fLEX가 있을 때 쓸 수 있음 */
    flex-grow: 1;
    flex-basis: 330px;
    padding: 7px;
}
.pics {
    border-radius: 20px;
    width: 100%;
}
.data {
    display: flex;
    /* flex를 주지 않으면 프로필 아이콘이나 데이터 부분에 길이를 직접 설정해줘야 하는데 그게 어려움 그것보다는 flex가 나음*/
    width: 100%;
}
.p-pic {
    margin-top: 7px;
    border-radius: 50%;
    width: 37px;
    height: 37px;
}
.info {
    margin-top: 5px;
    /* width: fit-content; */
    /* 프로필 사진에 고정 사이즈가 들어가서 인포에는 사이즈를 주지 않아도 됨 왜냐? flex를 주었기 때문에 */
}
.youtubers {
    font-size: 14px;
    color: grey;
}
.views {
    font-size: 13px;
    color: grey;
    margin-right: 3px;
}
.dates {
    font-size: 13px;
    color: grey;
}

/* 미디어 쿼리 */
@media screen and (max-width: 500px) {
    #search {display: none;}
}
@media screen and (max-width: 800px) {
    #container2 {display: none;}
}